html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    padding: 30px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 0 3px rgba(0, 0, 0, 0.20);
    position: fixed; 
    background-color: #fff;
}

main {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 5px 5px rgba(0, 0, 0, 0.20);
}

header div {
    letter-spacing: 1px;
}

.main-img {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(img/Background.png) no-repeat center top / cover;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.main-img__name {
    font-size: 6em;
    color: rgba(255,255,255);
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    border-radius: 20px;
    background-color: rgba(50, 50, 50, .5);
    box-shadow: 0 0 0 3px rgba(50, 50, 50,.5) inset, 0 0 0 4px white inset; 
    padding: 10px 90px;
    letter-spacing: 0.5rem;
}

header a {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    padding: 5px 20px;
}

header a:before {
    content: "";
    right: 0;
    bottom: 0;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgba(250, 0,0,.5);
    transition: .3s;
}

header a:hover:before {
    width: 100%;
    left: 0;
}

.header__site-link {
    margin: 5px 64px;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    padding: 0;
    display: inline-block;
}

.header__site-link:after {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(img/Wj_4GyLil2o.jpg);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: top center;
    display: block;
    margin-left: -53px;
    margin-top: -32px;
    border-radius: 100%;
    border: 1px solid rgba(255,255,255,.8);
    box-shadow: rgba(50, 50, 50) 0px 0px 5px 0px;
}

.header__site-name {
    margin-top: -15px;
}

.header__site-name a {
    color: #333;
}

nav {
    float: right;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
}

section {
    overflow: hidden;
    padding: 100px 0;
    border-bottom: 2px solid rgb(200, 200, 200);
}

.container {
    width: 65%;
    margin: 0 auto;
}

h2 {
    justify-content: center;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    padding: 0 15px;
    background-color: #fff;
}

.line-decoration {
    position: relative;
    display: flex;
    justify-content: center;
}

.line-decoration:before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: calc(50% - 2px);
    z-index: -1;
}

.grid {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100vh;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    margin: 70px 0;
}

h3 {
    z-index: 0;
    font-family: 'Nunito', sans-serif;
}

.grid a:hover {
    font-size: 0;
    color: white;
}

.grid div:before {
    border-radius: 3%;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.grid div:hover:before {
    opacity: 0;
}

.skill_1:hover {
    background-image: url(img/language_not-blur.jpg);
}

.skill_2:hover {
    background-image: url(img/car_not-blur.jpg);
}

.skill_3:hover {
    background-image: url(img/pencilc_not-blur.jpg);
}

.skill_4:hover {
    background-image: url(img/art_1.jpg);
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(60, 60, 60);
    position: relative;
}

a:hover {
    color: red;
}

.grid__skill {
    overflow: hidden;
    border-radius: 3%;
    color:  #fff;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 0 15px rgba(0, 0, 0, 0.20);
}

.grid__skill:hover {
    box-shadow: none;
    border-radius: 3%;
    overflow: hidden;
}

.grid div { 
    border-radius: 3%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
}

.skill_1 {
    background-image: url(img/html.jpg);
}

.skill_2 {
    background-image: url(img/DCPMv0CUAAEqmSW.jpg);
}

.skill_3 {
    background-image: url(img/pemcils.jpg);
}

.skill_4 {
    background-image: url(img/art.jpg);
}

.grid a {
    font-size: 3rem;
}

#portfolio {
    background-color: rgba(240, 240, 240);
}

#portfolio .line-decoration {
    z-index: 0;
}

#portfolio h2 {
    background-color: rgba(240, 240, 240);
}

.show-more {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.show-more p {
    color: #777777;
    font-size: 16px;
    margin: 0;
}

.show-more a {
    font-size: 16px;
    margin-left: 5px;
}

.list-portf {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    list-style: none;
    padding: 0;
}

.list-portf li {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2% 5%;
    border-radius: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 5px 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    position: relative;
    perspective: 1000px;
    transition: 1s;
}

.list-portf a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 25%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255) inset;
    transition: 1s;
    backface-visibility: hidden;
}

.list-portf a:after {
    content: "More...";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255) inset;
    color: #fff;
    font-size: 30px;
    background-color: rgba(255, 124, 124);
    transform: rotateY(180deg);
    transition: 1s;
    backface-visibility: hidden;
}
.list-portf li:hover {
    transform: rotateY(180deg);
}
.list-portf li:hover a {
    transform: rotateY(180deg);
}
.list-portf li:hover a:after {
    transform: rotateY(360deg);
}

.portfolio_1 {
    background-image: url(img/portfolio_1.jpg);
}

.portfolio_2 {
    background-image: url(img/portfolio_2.jpg);
}

.portfolio_3 {
    background-image: url(img/portfolio_3.jpg);
}

.portfolio_4 {
    background-image: url(img/portfolio_4.jpg);
}

.portfolio_5 {
    background-image: url(img/portfolio_5.jpg);
}

.title-about-me img {
    display: block;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    border: 3px solid #fff;
    margin: 70px auto;
    box-shadow: rgba(50, 50, 50,.5) 0 0 25px 0;
}

.info-about-me {
    font-size: 25px;
    text-align: justify !important;
}

footer {
    padding: 70px 0;
}

#contacts a {
    margin: 0 10px;
}

.social {
    margin-top: -44px;
    float: right;
}

.social li:hover {
    margin-top: -3px;
}

.social ul {
    margin: 0;
    display: flex;
}

.social li {
    list-style: none;
    
}

.social a {
    display: inline-block;;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: left center;
}

.vk {
    background-image: url(img/vk.svg);
}

.telegram {
    background-image: url(img/telegram.svg);
}

footer {
    background-color: rgba(240, 240, 240);
}

.show-more a:before, .email-phone a:before {
    content: "";
    bottom: 0;
    right: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: .3s;
}

.show-more a:hover:before, .email-phone a:hover:before {
    width: 100%;
    left: 0;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
    header div {
        letter-spacing: .6rem;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .menu-link {
        z-index: 6;
        display: block;
        margin: -10px 0 0 0;
        padding: 0;
        float: right;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 1px 1px 10px rgba(0,0,0,.4);
    }
    .menu-link:hover:before {
        width: 0;
    }
    .menu-link span, .menu-link span:before, .menu-link span:after {
        display: block;
        height: 2px;
        width: 18px;
        position: absolute;
        left: 50%;
        margin-left: -9px;
        top: 50%;
        margin-top: -1px;
        background-color: #333;
    }
    .menu-link span:before {
        transition: all .2s;
        content: "";
        margin-top: -6px;
    }
    .menu-link span:after {
        transition: all .2s;
        content: "";
        margin-top: 4px;
    }
    .menu-link_active span {
         background-color: transparent;
    }
    .menu-link_active span:before {
        background-color: red;
        transform: rotate(135deg);
        margin-top: 0;
    }
    .menu-link_active span:after {
        background-color: red;
        transform: rotate(-135deg);
        margin-top: 0;
    }
    nav {
        background-color: #fff;
        box-shadow: 1px 1px 10px rgba(0,0,0,.4);
        border-radius: 10px;
        margin-right: 50px;
        z-index: 6;
        transition: all 0.5s;
        margin-top: -540px;
    }
    .menu_active {
        margin-top: 0;
    }
    .menu li {
        float: none;
        margin: 30px 0;
        padding: 0 40px;
        text-align: center;
    }
    .menu a { 
        font-size: 30px;
        padding: 20px 177px;
    }
}





/*
.list-portf a:before {
    content: "More...";
    bottom: 0;
    border-radius: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 124, 124, 0.8);
    box-shadow: 0 0 0 2px rgba(255, 255, 255) inset;
    color: #fff;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: .3s;
}

.list-portf a:hover:before {
    transform: rotateY(0deg);
}*/






.mouse {
    width: 45px;
    height: 70px;
    border: 2px solid rgba(255, 255, 255, .7);
    background-color: rgba(50, 50, 50, .5);
    box-shadow: 0 0 20px rgba(50, 50, 50);
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
}

.mouse:before {
    content: "";
    width: 10px;
    height: 15px;
    background: rgba(255, 255, 255, .7);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40%;
    animation: mouse-scroll 1.5s infinite;
}

@keyframes mouse-scroll {
    100% {
        opacity: 0;
        top: 45px;
    }
}

.animate-2, .animate-4 {
    transform: translateX(90%);
    opacity: 0;
}
.animate-1, .animate-3 {
    transform: translateX(-90%);
    opacity: 0;
}